
# DFX CANISTER ENVIRONMENT VARIABLES
DFX_VERSION='0.31.0'
DFX_NETWORK='local'
CANISTER_ID_LAND_REGISTRY_ICP_BACKEND='xxxxx-xxxxx-xxxxx-xxxxx-xxx'
CANISTER_ID='xxxxx-xxxxx-xxxxx-xxxxx-xxx'
CANISTER_CANDID_PATH='PATH_TO_.did'
# END DFX CANISTER ENVIRONMENT VARIABLES